* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --past: rgb(184, 184, 184);
  --future: #00cf7c;
  --present: #e40000;
}

.past {
  background-color: var(--past);
}

.present {
  background-color: var(--present);
}

.future {
  background-color: var(--future);
}


/* Hero Section  */
.hero-sec {
  text-align: center;
  padding: 40px;
  background-color: rgb(160, 217, 255);
  border-bottom: 10px solid;
  border-top: 10px solid;
}

.hero-sec h1{
  font-weight: 700;
  font-size: 3.2em;
}

p:first-of-type{
  font-weight: 700;
}


/* Schedule Section  */
table {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  margin-top: 15px;
}

.time-block {
  display: flex;
  align-items: space;
  justify-content: space-around;

  margin: 15px;

  /* background-color:  rgb(128, 128, 128); */
}


table tr .time {
  text-align: center;

  width: 15vw;
  padding: 20px;

  border: 2px solid;
  border-radius: 5px;


  font-size: 1.1em;
  font-weight: 800;

}

table tr .input {
  margin-left: 10px;

}

table tr td textarea {
  resize: none;
  overflow: hidden;

  width: 100%;
  height: 100%; 
  font-size: 1.2em;
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
  

  background-color: var(--past-color);
}

table tr .btn_cont {
  margin-left: 10px;

}

.table tr td button {
  cursor: pointer;
  display: block;
  background: none;
  
  width: 100%;
  height: 100%;
  padding: 20px;
  

  font-size: 1.2em;

  border: 2px solid;
  border-radius: 5px;
}